@import '../../../styles/variables';
@import '../../../styles/mixins';

.authors-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: $title;
  text-transform: uppercase;
  color: $white;

  &__title {
    margin-bottom: 5rem;
    font-size: inherit;
    font-family: inherit;
    text-transform: inherit;
    font-weight: normal;
    align-self: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    &:last-of-type {
      margin-bottom: 2rem;
    }

    &::before {
      content: '';
      width: 4.666rem;
      height: 4rem;
      display: inline-block;
      margin-right: 2rem;
      image-rendering: pixelated;
      align-items: center;
      background-size: 200%;
      background-image: url(https://raw.githubusercontent.com/Diluks93/source-rsclone/main/rsclone-source/face-sprite.png);
    }

    &--diluks93 {
      &::before {
        background-position: 0 0;
      }

      &:hover::before {
        animation: diluksFace 1s steps(1) infinite alternate;
      }
    }

    &--jenya-b {
      &::before {
        background-position: 0 -4rem;
      }
      &:hover::before {
        animation: jenyaFace 1s steps(1) infinite alternate;
      }
    }

    &--randomspells {
      &::before {
        background-position: 0 -8rem;
      }
      &:hover::before {
        animation: randomspellsFace 1s steps(1) infinite alternate;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__button {
    display: flex;
    gap: 1rem;

    & .button-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &__subtitle {
    padding: 0.5rem 1rem;
    font-family: $text;
    text-transform: none;
    font-size: 1.5rem;
    color: $white;
  }
}

@keyframes diluksFace {
  0% {
    background-position: 0 0;
  }
  55% {
    background-position: -4.666rem 0;
  }
}

@keyframes jenyaFace {
  0% {
    background-position: -4.666rem -4rem;
  }
  25% {
    background-position: 0 -4rem;
  }
  60% {
    background-position: -4.666rem -4rem;
  }
}

@keyframes randomspellsFace {
  0% {
    background-position: 0 -8rem;
  }
  25% {
    background-position: -4.666rem -8rem;
  }
  75% {
    background-position: 0 -8rem;
  }
}
