@import '../../../styles/variables';
@import '../../../styles/mixins';

.header,
.footer {
  grid-row: 2/3;
  background-color: $main-color;
  display: flex;
  align-items: center;
  font-family: $lorem;
}

.header,
.footer {
  & .items {
    padding: 0 1.25rem;
    max-width: 112.5rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .item {
      color: $text;
      text-decoration: none;
      text-transform: uppercase;
      height: inherit;
      & img {
        height: 4.5vh;
      }
    }
  }
}

.header {
  .nav {
    width: 40%;
    margin-left: 5rem;
  }
}
