$main-color: #495C61;
$settings: #4CD235;
$settings-hover: #E9F110;
$green: #33813B;
$red: #B95F1D;
$blue: #82A5C5;
$yellow: #E9C546;
$grey: #AEBDC5;
$text: #fff;

$lorem: 'Orelega One', cursive;
$title: 'Ruslan Display', cursive;