$main-color: #495c61;
$settings: #4cd235;
$settings-hover: #e9f110;
$green: #33813b;
$red: #b95f1d;
$blue: #82a5c5;
$yellow: #e9c546;
$grey: #aebdc5;
$text: #fff;
$category-bg: #a7cff4;
$series-description-bg: #ded6cc;
$series-block: #dfccb4;
$category-border: #5c5656;
$series-border: #262320;
$hint-border: #095aa4;
$hint-text: #004c92;

$lorem: 'Orelega One', cursive;
$title: 'Ruslan Display', cursive;
