@import '../../../styles/variables';
@import '../../../styles/mixins';

.levels-page {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 70% 1fr / 1fr;
  font-family: $title;
  text-transform: uppercase;
  font-size: 2rem;

  &__layout {
    height: 100%;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3.25rem;
    padding: 0 3.25rem;
  }

  &__wrapper {
    padding: 3rem;
    margin: 0;
    display: flex;
    align-items: center;

    &.levels-list {
      &:last-of-type {
        grid-row: 2 / 3;
      }
    }

    &.level-details {
      margin: 0;
      grid-row: 1/3;
      grid-column: 2/3;
    }
  }

  &__title {
    margin-bottom: 3rem;
    color: $white;
    font-size: 2rem;
    text-transform: inherit;
    font-weight: normal;
  }

  &__preview-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__preview {
    width: 30%;
    height: 100%;
    background-color: $orange;
    align-self: center;
    border-radius: 0.5rem;
    border: 0.2rem solid $navy;
    outline: none;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: 0.5s;

    &:hover {
      box-shadow: inset 0 0 0 1000px rgba($orange, 0.2);
      cursor: pointer;
    }

    &.selected {
      border: 0.2rem solid $orange;
    }

    &.locked {
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
      cursor: not-allowed;
    }
  }

  &__button {
    & .button-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @media (max-height: 900px) {
    &__wrapper {
      padding: 2rem;
    }

    &__title {
      margin-bottom: 1rem;
    }

    &__button {
      padding: 0;
    }
  }

  @media (max-width: 1440px) {
    grid-template: 1fr 65% 1fr / 1fr;
  }

  @media (max-width: 1280px) {
    grid-template: 1fr 55% 1fr / 1fr;

    &__layout {
      gap: 2.25rem;
    }

    &__wrapper {
      padding: 2rem;
    }

    &__title {
      margin-bottom: 2rem;
    }

    &__preview {
      height: 80%;
    }
  }

  @media (max-width: 1000px) {
    grid-template: 7rem 1fr / 1fr;

    &__layout {
      display: block;
      padding-bottom: 4rem;
    }

    &__wrapper:not(:last-child) {
      margin-bottom: 3rem;
    }

    &__preview {
      height: 12rem;
    }
  }

  @media (max-width: 768px) {
    &__preview {
      height: 8rem;
    }
  }
}

.level-details {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 1rem;
    justify-content: center;
    margin-bottom: auto;
  }

  &__preview-image {
    width: 100%;
    height: auto;
    background-size: contain;
    background-color: $orange;
    border-radius: 1rem;
  }

  &__text {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    margin-left: 1rem;
    font-family: $text;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: none;
    color: $white;

    & .button-icon {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }

    & span {
      font-size: inherit;
    }
  }

  &__description {
    grid-row: 2/3;
    grid-column: 1/3;
    font-family: $text;
    font-size: 1.25rem;
    line-height: 2rem;
    text-transform: none;
    white-space: pre-line;
    color: $white;
  }

  @media (max-height: 900px) {
    &__inner {
      grid-template-columns: 1fr 3fr;
    }
  }
}
