@import '../../../styles/variables';
@import '../../../styles/mixins';

.levels-page {
  font-family: $title;
  text-transform: uppercase;
  font-size: 2rem;

  &__layout {
    margin-top: 7rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3.25rem;
    padding: 3.25rem;
  }

  &__wrapper {
    padding: 3.75rem;
    margin: 0;
    display: flex;
    align-items: center;

    &.levels-list {
      &:last-of-type {
        grid-row: 2 / 3;
      }
    }

    &.description {
      margin: 0;
      grid-row: 1/3;
      grid-column: 2/3;
    }
  }

  &__title {
    color: $white;
    font-size: 2rem;
    text-transform: inherit;
    font-weight: normal;
  }

  &__preview-box {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__preview {
    width: 30%;
    height: 8rem;
    background-color: $orange;

    &.locked {
      &::before {
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-color: $navy;
        mix-blend-mode: multiply;
        opacity: 0.7;
      }
    }
  }

  &__levels-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @media (max-width: 1280px) {
    &__wrapper {
      &.levels-list {
        &:nth-of-type(2) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }
      }

      &.description {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    }
  }
}

.episode-list {
  padding: 1.4rem 0 1.3rem 0;
  height: 100%;
  display: grid;
  grid-template: repeat(3, 27%) 19% / 1fr;

  &__series-block {
    display: grid;
    grid-template: minmax(1.8rem, auto) 1fr / 1fr;
    margin-bottom: 0.9rem;
    background: $series-block;
    border-radius: 1.3rem;
    overflow: hidden;
    border: 2px solid $category-border;
  }

  &__title {
    font-size: 1.3rem;
    padding: 0.6rem 0 0.6rem 2.2rem;
    background: $red;
  }
  &__series-block:first-child &__title {
    background: $green;
  }

  &__cards {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    column-gap: 1rem;
    padding: 1rem;
  }

  &__card {
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.8);
  }

  &__card-result {
    position: absolute;
    bottom: 0;
    left: 0.2rem;
    font-size: 2rem;
    font-weight: 800;
    color: $text;
  }

  &__btn-wrapper {
    padding: 0 1.3rem 0 1.3rem;
    background: $grey;
    border-radius: 1.3rem;
    display: flex;
    align-items: center;
    border: 2px solid $category-border;
  }

  &__btn {
    margin-right: 1.9rem;
    width: 5.8rem;
    height: 5.8rem;
    background-image: url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/svg/back.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__btn-info {
    font-size: 1.5rem;
  }
}
.series-description {
  padding: 1.4rem 0 1.3rem 0;
  display: grid;
  grid-template: auto 1fr / 1fr;

  &__title {
    background: $yellow;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1.3rem 0 1.3rem 1.6rem;
    border: 2px solid rgba(92, 86, 86, 0.8);
    border-bottom: none;
  }

  &__wrapper {
    position: relative;
    background: $series-description-bg;
    display: grid;
    grid-template: 20% 25% 55% / 40% 30% 30%;
    border: 2px solid rgba(92, 86, 86, 0.8);
  }

  &__pictures-wrap {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template: 80% 20% / 1fr;
    margin: 0.4rem;
  }

  &__pictures-title {
    font-size: 1.2rem;
    justify-self: center;
    align-self: center;
  }

  &__pictures {
    background: url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/neighbor_test.webp');
    background-position: center center;
    background-size: cover;
    border-radius: 1.3rem;
    border: 3px solid rgba(0, 0, 0, 0.8);
  }

  &__rating {
    grid-row: 1/2;
    grid-column: 2/3;
    background: linear-gradient(0deg, rgba(42, 63, 34, 0.88), rgba(42, 63, 34, 0.88)),
      url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/tv2.webp');
    background-position: center center;
    background-size: cover;
    border: 3px solid $series-border;
    box-sizing: border-box;
    border-radius: 1.3rem;
    margin: 0.4rem;
    display: grid;
    grid-template: 70% 30% / 1fr;
    color: $text;
  }

  &__time {
    grid-row: 1/2;
    grid-column: 3/4;
    background: linear-gradient(0deg, rgba(42, 63, 34, 0.88), rgba(42, 63, 34, 0.88)),
      url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/map.webp');
    background-position: center center;
    background-size: cover;
    border: 3px solid $series-border;
    box-sizing: border-box;
    border-radius: 1.3rem;
    margin: 0.4rem;
    display: grid;
    grid-template: 70% 30% / 1fr;
    color: $text;
  }

  &__parameter-title {
    background: rgba(142, 151, 138, 0.8);
    border-radius: 0 0 1.2rem 1.2rem;
    text-align: center;
    padding: 0.35rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  &__parameter-text {
    font-size: 2.6rem;
    line-height: 2.6rem;
    align-self: center;
    justify-self: center;
    font-weight: 800;
  }
  &__hint {
    grid-row: 2/3;
    grid-column: 2/4;
    background: $blue;
    border: 3px solid $hint-border;
    box-sizing: border-box;
    border-radius: 1.3rem;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }

  &__hint-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2rem;
    color: $hint-text;
  }

  &__hint-text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  &__desc {
    grid-row: 3/4;
    grid-column: 1/4;
    font-size: 1.3rem;
    margin: 0.4rem;
  }

  &__btn-wrapper {
    padding: 0 0.8rem 0 1.2rem;
    height: 8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $grey;
    border: 1px solid $category-border;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__btn-title {
    font-size: 1.7rem;
    margin-right: 2.2rem;
  }

  &__btn {
    width: 5.8rem;
    height: 5.8rem;
    background-image: url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/svg/play.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}
