@import '../../../styles/variables';
@import '../../../styles/mixins';

.categories-page {
  height: 100%;
  width: 100%;
  background: $category-bg;
  display: grid;
  grid-template: 100px 1fr / 1fr;

  &__header {
    grid-row: 1/2;
    height: 100%;
    background: $main-color;
  }
  &__header-wrapper {
    height: 100%;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  &__header-image {
    width: 122px;
    height: 100%;
    background: url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/neighbor_logo.webp');
    margin-right: 20px;
  }
  &__header-title {
    color: $text;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__header-title:last-child {
    margin-left: auto;
  }
  &__wrapper {
    display: flex;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__episode-list {
    flex: 50%;
    margin-right: 15px;
  }
  &__series-description {
    flex: 50%;
    margin-left: 15px;
  }
}

.header {
}
.episode-list {
  padding: 22px 0 20px 0;
  height: 100%;
  display: grid;
  grid-template: repeat(3, 27%) 19% / 1fr;

  &__series-block {
    display: grid;
    grid-template: minmax(25px, auto) 1fr / 1fr;
    margin-bottom: 15px;
    background: $series-block;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid $category-border;
  }

  &__title {
    font-size: 1.4rem;
    padding: 10px 0 10px 35px;
    background: $red;
  }
  &__series-block:first-child &__title {
    background: $green;
  }

  &__cards {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    column-gap: 17px;
    padding: 20px;
  }

  &__card {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.8);
  }

  &__card-result {
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 2rem;
    font-weight: 800;
    color: $text;
  }

  &__btn-wrapper {
    background: $grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 2px solid $category-border;
  }

  &__btn {
    margin: 0 30px 0 20px;
    width: 92px;
    height: 92px;
    background: url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/svg/back.svg');
    border-radius: 50%;
  }

  &__btn-info {
    font-size: 1.7rem;
  }
}
.series-description {
  position: relative;
  padding: 22px 0 20px 0;
  display: grid;
  grid-template: auto 1fr / 1fr;

  &__title {
    background: $yellow;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 20px 0 20px 25px;
    border: 2px solid rgba(92, 86, 86, 0.8);
    border-bottom: none;
  }
  &__wrapper {
    background: $series-description-bg;
    display: grid;
    grid-template: 20% 25% 55% / 40% 30% 30%;
    border: 2px solid rgba(92, 86, 86, 0.8);
  }
  &__pictures-wrap {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template: 80% 20% / 1fr;
    margin: 7px;
  }
  &__pictures-title {
    font-size: 1.2rem;
    justify-self: center;
    align-self: center;
  }
  &__pictures {
    background: url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/neighbor_test.webp');
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.8);
  }
  &__rating {
    grid-row: 1/2;
    grid-column: 2/3;
    background: linear-gradient(0deg, rgba(42, 63, 34, 0.88), rgba(42, 63, 34, 0.88)),
      url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/tv2.webp');
    background-position: center center;
    background-size: cover;
    border: 3px solid $series-border;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 7px;
    display: grid;
    grid-template: 70% 30% / 1fr;
    color: $text;
  }
  &__time {
    grid-row: 1/2;
    grid-column: 3/4;
    background: linear-gradient(0deg, rgba(42, 63, 34, 0.88), rgba(42, 63, 34, 0.88)),
      url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/map.webp');
    background-position: center center;
    background-size: cover;
    border: 3px solid $series-border;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 7px;
    display: grid;
    grid-template: 70% 30% / 1fr;
    color: $text;
  }
  &__parameter-title {
    background: rgba(142, 151, 138, 0.8);
    border-radius: 0px 0px 17px 17px;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    line-height: 21px;
  }
  &__parameter-text {
    font-size: 36px;
    line-height: 3rem;
    align-self: center;
    justify-self: center;
    font-weight: 800;
  }
  &__hint {
    grid-row: 2/3;
    grid-column: 2/4;
    background: $blue;
    border: 3px solid $hint-border;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__hint-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 33px;
    color: $hint-text;
  }
  &__hint-text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 23px;
  }
  &__desc {
    grid-row: 3/4;
    grid-column: 1/4;
    font-size: 1.3rem;
    margin: 7px;
  }
  &__btn-wrapper {
    width: 280px;
    height: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $grey;
    border: 1px solid $category-border;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &__btn-title {
    font-size: 1.7rem;
    margin-right: 35px;
  }
  &__btn {
    width: 92px;
    height: 92px;
    margin-right: 15px;
    background: url('https://raw.githubusercontent.com/Diluks93/source-rsclone/new-files/rsclone-source/svg/play.svg');
  }
}
