@import '../../../styles/variables';
@import '../../../styles/mixins';

.settings-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: $title;
  text-transform: uppercase;
  color: $white;
  font-size: 2rem;

  &__title {
    width: 35rem;
    margin-bottom: 5.5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
  }

  &__select {
    appearance: none;
    padding: 1.5rem;

    margin: 0;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    & option {
      background-color: rgb(41, 39, 39);
      font-size: inherit;
    }
  }

  &__custom-select {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: inherit;
    color: $orange;
    border-radius: 4rem;
  }

  &__btn {
    align-self: center;

    &::before {
      content: '';
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      padding-left: 1.2rem;
    }

    &--ok {
      margin-top: 1.5rem;

      &::before {
        background-image: url(../../../assets/svg/check.svg);
        background-repeat: no-repeat;
      }
    }
  }

  &__toggle-btn {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    background-image: url(../../../assets/svg/volume.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: transparent;
    outline: none;
  }

  &__range {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    width: 30rem;
    height: 1.5rem;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, $orange), color-stop(0.5, $white));
    outline: none;
    transition: 0.5s;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-apperance: none;
      appearance: none;
      height: 3rem;
      width: 3rem;
      background-color: $grey;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__range-label {
    width: 35rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: absolute;
    left: 0;
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid $orange;
    transition: 0.4s;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }

  &__checkbox-label {
    width: 35rem;
    position: relative;
    padding-left: 6rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: inherit;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 2.5rem;
    }

    &:hover input ~ .settings-page__checkmark {
      background-color: rgba($orange, 0.2);
    }

    & input:checked ~ .settings-page__checkmark:after {
      background-color: $orange;
    }

    & input:checked ~ .settings-page__checkmark:after {
      display: block;
    }

    & .settings-page__checkmark:after {
      left: 0.3rem;
      top: 0.3rem;
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  .title {
    visibility: hidden;
  }
}
